.Footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;
  &-logo {
    display: block;
    margin: auto;
    margin-bottom: 2em;
  }
  &-link {
    display: block;
    color: var(--lightGrayishBlue);
    text-decoration: none;
    margin-bottom: 2em;
  }
  &-social {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-column-gap: 1em;
    justify-content: center;
    margin: 2.5em 0;
  }
  &-copyright {
    margin-top: 2.5em;
    color: var(--grayishBlue);
  }
  &-button {
    @include button;
  }
  @media screen and (min-width: 1024px){
    &-container {
      display: grid;
      grid-column-gap: 1em;
      grid-template-columns: 200px 1fr 400px;
      grid-template-areas: "logo links button"
      "social links copyright";
    }
    &-logo{
      grid-area: logo;
      margin: initial;
    }
    &-social{
      grid-area: social;
    }
    &-links{
      grid-area: links;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
    }
    &-button{
      grid-area: button;
      justify-self: flex-end;
    }
    &-copyright{
      grid-area: copyright;
      text-align: right;
    }
  }
}