.Header {
  padding: 1em 0;
  justify-content: space-between;
  position: relative;
  &-logo {
    align-self: center;
  }
  &-container {
    display: flex;
    width: 100%;
    padding: 1em 1.5em;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &-button {
    @include button;
    display: none;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    &-button {
      display: inline;
    }
    &-content{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}