// Section Hero
.Hero {
  text-align: center;
  padding-bottom: 5em;
}
.Hero-container {
  padding: 0 1.5em;
}
.Hero-image {
  height: 300px;
  background: url('../images/image-mockups.png'), url('../images/bg-intro-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 345px, cover;
  margin: 0 calc(-1 * var(--wrapperSpace));

}
.Hero-title {
  color: var(--darkBlue);
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  margin-bottom: .5em;
}
.Hero-description {
  font-size: .9em;
  line-height: 1.5;
  margin-bottom: 2.5em;
}
.Hero-button {
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 1.5em;
  color: var(--white);
  background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100%);
}