.Why {
  background: var(--lightGrayishBlue);
  text-align: center;
  padding-top: 5em;
}
.Why-container {
  padding: 1em 1.5em;
}
.Why-title {
  color: var(--darkBlue);
  font-size: 2.5em;
}
.Why-description {
  padding-bottom: 4em;
  font-size: 1em;
}
.Why-item-image {
  margin-bottom: 1.5em;
}
.Why-item-title {
  color: var(--darkBlue);
  font-size: 1.8em;
  margin: 0;
}
.Why-item-description {
  margin-bottom: 2em;
}